* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white-color: #fff;
  --alt-white-color: #fbfaff;

  --main-blue-color: #7c3aed;
  --alt-blue-color: #cab3ff;

  --main-text-color: #403937;
  --alt-text-color: #756966;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'inter', sans-serif;
  background-color: var(--main-blue-color);
}

main {
  display: grid;
  grid-template-columns: 17.5rem 1fr;
  grid-template-areas: 'sidebar main-content';
}

/* SIDE  BAR */
.sidebar {
  grid-area: sidebar;
  margin-left: 3.5rem;
  margin-top: 3.5rem;
}

.sidebar-items {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
}

.item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  cursor: pointer;
  color: var(--alt-blue-color);
}

.item:hover {
  color: var(--alt-white-color);
}
.item:first-child {
  color: var(--alt-white-color);
}

/* MAIN CONTENT */
main .main-content {
  grid-area: main-content;
  background: var(--alt-white-color);
  margin-top: 0.4rem;
  border-radius: 3.2rem 0 0 0;
  padding: 4.8rem 3.2rem;
  margin-bottom: 5rem;
  overflow: hidden;
  height: 100%;
}

/* Header / User-Avatar */
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.4rem;
}

.title {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.title h1 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.1rem;
}

.title img {
  width: 2.4rem;
  height: 2.4rem;
}

.avatar img {
  width: 6.4rem;
  height: 6.4rem;
}

/* Filter - Search Bar */

.filter-search {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: 0 2.4rem;
  margin-top: 3.2rem;
}

.filter {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: var(--white-color);
  background-color: var(--main-blue-color);
  padding: 1.2rem 3.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.filter:hover {
  filter: brightness(0.9);
}

.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1.2rem 2.4rem;
  gap: 1rem;
  box-shadow: 0px 4px 16px rgba(22, 22, 22, 0.1);
  border: 0.7px solid #e3e3e3;
  border-radius: 8px;
}

.search-bar input {
  flex: 1;
  border: none;
  background: transparent;
  outline: none;
  color: var(--alt-text-color);
}

.search-bar input::placeholder {
  font-weight: 400;
  line-height: 16px;
  color: #7c7c8a;
}

/* CARDS */

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 3.2rem;
  padding-top: 2.4rem;
  padding-left: 1.5rem;
  column-gap: 4.8rem;
  row-gap: 2.4rem;
  height: 100%;
  overflow: scroll;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  height: 483px;
  oveflow: scroll;
}

.title {
  margin-bottom: 2.4rem;
}

.title h2 {
  font-size: 2rem;
  line-height: 26px;
  font-weight: 700;
}

.to-do button {
  font-size: 1.8rem;
  color: var(--main-blue-color);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  box-shadow: 0px 4px 16px rgba(22, 22, 22, 0.1);
  cursor: pointer;
  transition: all 0.4s;
}

.to-do button:hover {
  background-color: var(--main-blue-color);
  color: #fff;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2.4rem;

  width: 32rem;
  height: 15.3rem;

  box-shadow: 0px 4px 16px #eae2fd;
  border-radius: 8px;
}

.card strong {
  font-size: 1.4rem;
  line-height: 18px;
  font-weight: 500;
}

.card p {
  font-size: 1.4rem;
  font-weight: 400;
  line-weight: 18px;
  color: var(--alt-text-color);
}

.card .tag {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
}

.card span {
  padding: 4px 8px;
  border-radius: 8px;
  background-color: var(--alt-blue-color);
  color: var(--main-blue-color);
  font-size: 1rem;
}

/* MODAL AND OVERLAY */

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(22, 22, 22, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25%;
  height: 60%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  background-color: var(--alt-white-color);
  z-index: 10;

  padding: 3rem;
}

.modal .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}

.modal-header h2 {
  font-size: 1.8rem;
  line-height: 26px;
  font-weight: 700;
  color: var(--main-blue-color);
  filter: brightness(0.9);
}

.modal-header button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  color: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: none;
  background-color: #f43f5e;
  box-shadow: 0px 4px 16px rgba(22, 22, 22, 0.1);
  cursor: pointer;
  transition: all 0.4s;
}

.modal-header button:hover {
  filter: brightness(0.9);
}

.modal form input {
  width: 100%;
  padding: 1.6rem 1.2rem;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  color: #7c3aed;
  outline-color: #7c3aed;
  margin-bottom: 3rem;
}

.modal form textarea {
  width: 100%;
  font-family: 'inter', sans-serif;
  padding: 1.6rem 1.2rem;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  color: var(--main-text-color);
  outline-color: #7c3aed;
  margin-bottom: 4rem;
}

.modal form button {
  width: 100%;
  border: none;
  padding: 1.6rem 2.4rem;
  background-color: #7c3aed;
  color: #fff;
  border-radius: 4px;

  cursor: pointer;
  font-weight: bold;
  line-height: 2.4rem;
  transition: all 0.2s;
}

.modal form button:hover {
  background-color: #9f67ff;
}

.hidden {
  display: none;
}
